{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Change your password!</h1>
                <div class="container">
                    <form method="POST" action="{% url 'users:change_password' %}">
                      {% csrf_token %}
                      

                      <div class="form-group">
                      <input name="origin_password" type="password" class="form-control form-control-user" placeholder="Origin Password">
                    </div>
                      <br><br>
                      
                      <div class="form-group">
                      <input name="new_password" type="password" class="form-control form-control-user" placeholder="New Password">
                    </div>
                      <br><br>

                      <div class="form-group">
                      <input name="confirm_password" type="password" class="form-control form-control-user" placeholder="Confirm Password">
                    </div>
                      <br><br>
                      <input type="submit" value="Change" class="btn btn-primary btn-user btn-block" />
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
</body>

</html>

