{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'sidebar.html'%}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'topbar.html'%}

                <!-- Begin Page Content --> 
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Buttons</h1>

                    <div class="row">

                        <div class="col-lg-12">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">AirFreight</h6>
                                </div>
                                <div class="card-body">
                                    <p>Please input numbers only. not $ or / or cbm.. etc</p>
                                    <!-- Circle Buttons (Default) -->
                                    <div class="table-responsive">

                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                    <!-- <tr>
                                                    <th>Check date</th>   
								                    <th>Carrier</th>
                                                    <th>Origin</th>
                                                    <th>Destination</th>
                                                    </tr>
                                                    <th>20ft</th>
                                                    <th>40ft</th>
                                                    <th>frequency</th>
                                                    <th>T/Time</th>
                                                    <tr>
                                                    <th>Effective</th>
                                                    <th>SC No.</th>
                                                    <th>PIC</th>
								                    <th>Remark</th>
                                                    </tr> -->

                                            </thead>
                                            <tfoot>

                                            </tfoot>
                                            <tbody>
                                                {% if user.is_authenticated %}
                                                <form action="" method="post" autocomplete="off">
                                                    {% csrf_token %}
                                                    <div style="width: 100%;">
                                                        <p style="float: left; margin-right:1%; font-size: larger; vertical-align: middle;">Date: </p>  <div style="float: left; width: 20% ; margin-right: 2%; vertical-align: middle;">{{form.air_chk_date|as_crispy_field}}</div> 
                                                    <p style="float: left; margin-right:1%; font-size: larger; vertical-align: middle;" >Effective: </p><div style="float: left; width: 20%; vertical-align: middle;">{{form.air_effective|as_crispy_field}}</div>
                                                    </div>
                                                    
                                                    <table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">
                                                        <thead style="width: 100%;">
                                                            <tr style="width: 100px;">
                                                                
                                                                <th style="text-align: center; width: 5%;">Consol</th>
                                                                <th style="text-align: center; width: 7%;">Origin</th>
                                                                <th style="text-align: center; width: 7%;">Dest</th>
                                                                <th style="text-align: center; width: 3%;">Carrier</th>
                                                                
                                                                <th style="text-align: center; width: 7%; color: red;">Min</th>
                                                                <th style="text-align: center; width: 5%; color: red;">Normal</th>
                                                                <th style="text-align: center; width: 5%; color: red;">+45kg</th>
                                                                <th style="text-align: center; width: 5%; color: red;">+100kg</th>
                                                                <th style="text-align: center; width: 5%; color: red;">+300kg</th>
                                                                <th style="text-align: center; width: 5%; color: red;">+500kg</th>
                                                                <th style="text-align: center; width: 5%; color: red;">+1000kg</th>
                                                                <th style="text-align: center; width: 5%; color: red;">Fsc</th>
                                                                <th style="text-align: center; width: 5%; color: red;">Iss</th>
                                                                <th style="text-align: center; width: 5%;">Schedule</th>
                                                                <th style="text-align: center; width: 5%;">T/s point</th>
                        
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                 
                                                        </tfoot>
                                                        <tbody>

                                                            
                                                            <td>{{form.air_consol|as_crispy_field}}</td>
                                                            <td>{{form.air_origin|as_crispy_field}}</td>
                                                            <td>{{form.air_dest|as_crispy_field}}</td>
                                                            <td>{{form.air_carrier|as_crispy_field}}</td>
                                                            
                                                            <td>{{form.air_min|as_crispy_field}}</td>
                                                            <td>{{form.air_normal|as_crispy_field}}</td>
                                                            <td>{{form.air_45kg|as_crispy_field}}</td>
                                                            <td>{{form.air_100kg|as_crispy_field}}</td>
                                                            <td>{{form.air_300kg|as_crispy_field}}</td>
                                                            <td>{{form.air_500kg|as_crispy_field}}</td>
                                                            <td>{{form.air_1000kg|as_crispy_field}}</td>
                                                            <td>{{form.air_fsc|as_crispy_field}}</td>
                                                            <td>{{form.air_iss|as_crispy_field}}</td>
                                                            <td>{{form.air_skdl|as_crispy_field}}</td>
                                                            <td>{{form.air_tspoint|as_crispy_field}}</td>


                                                        </tbody>
                                                        </table>
                                                        
                                                        <td>
                                                                

                                                            <div style="clear: both;"><br><strong style="color: red;">Remark: </strong><br><br> {{form.air_remark|as_crispy_field}}</div>
                                                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                                                                Submit</button>
                                                            <a href="{% url 'AIR_list' %}" class="btn btn-secondary btn-block btn-lg">
                                                                <i class="fas fa-stream"></i> Back to list
                                                            </a>
                                                        </td>
                                                </form>
                                                
                                                {%else%}
                                                
                                                <h1>로그인 해주세요</h1>
                                                {%endif%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                           

                        </div>

                    
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include 'footer.html'%}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    {%include 'modal.html'%}

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <script src="https://kit.fontawesome.com/999e0851cc.js" crossorigin="anonymous"></script>

</body>

</html>