{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'sidebar.html'%}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'topbar.html'%}

                <!-- Begin Page Content --> 
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">LCL Destination Charges</h1>

                    <div class="row">

                        <div class="col-lg-12">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">LCL Destination Charges</h6>
                                </div>
                                <div class="card-body">
                                    <p>Please input numbers only. not $ or / or cbm.. etc</p>
                                    <!-- Circle Buttons (Default) -->
                                    <div class="table-responsive">


                                                {% if user.is_authenticated %}
                                                <form action="" method="post" autocomplete="off">
                                                    {% csrf_token %}
                                                    <div style="width: 100%;">
                                                    </div>
                                                    
                                                    <table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">
                                                        <thead><tr><th style="text-align: center; width: 8%">Branch</th></tr></thead>
                                                        <tbody><td>{{form.Dest_branch|as_crispy_field}}</td></tbody>
                                                        <thead style="width: 100%;">
                                                            <tr style="width: 100px;">
                                                                
                                                                <th style="text-align: center; width: 8%">PORT</th>
                                                                <th style="text-align: center; width: 10%">BAF</th>
                                                                <th style="text-align: center; width: 10%">CAF</th>           
                                                                <th style="text-align: center; width: 10%">DRC</th>
                                                                <th style="text-align: center; width: 10%">CCC</th>
                                                                
                                                            </tr>
                                                            
                                                        </thead>
                                                        <tfoot>
                                                            
                                                        </tfoot>
                                                        <tbody>
                                                            <tr>
                                                            
                                                            <td>{{form.Dest_port|as_crispy_field}}</td>
                                                            <td><div style="float: left; width:45%;">{{form.Dest_Lcl_Baf|as_crispy_field}}</div> <div style="float: right; width:50%">{{form.Dest_Lcl_Bafunit|as_crispy_field}}</div></td>
                                                            <td><div style="float: left; width:45%;">{{form.Dest_Lcl_Caf|as_crispy_field}}</div> <div style="float: right; width:50%">{{form.Dest_Lcl_Cafunit|as_crispy_field}}</div></td>
                                                            <td><div style="float: left; width:45%;">{{form.Dest_Lcl_Drc|as_crispy_field}}</div> <div style="float: right; width:50%">{{form.Dest_Lcl_Drcunit|as_crispy_field}}</div></td>
                                                            <td><div style="float: left; width:45%;">{{form.Dest_Lcl_Ccc|as_crispy_field}}</div> <div style="float: right; width:50%">{{form.Dest_Lcl_Cccunit|as_crispy_field}}</div></td></tr>
                                                            
                                                            
                                                        </tbody>

                                                        <thead><tr><th style="text-align: center; width: 10%">THC</th>
                                                            <th style="text-align: center; width: 10%">DOC</th>
                                                            <th style="text-align: center; width: 10%">HDC</th>
                                                            <th style="text-align: center; width: 10%">CLC</th>
                                                            <th style="text-align: center; width: 10%">WHC</th></tr></thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><div style="float: left; width:45%;">{{form.Dest_Lcl_Thc|as_crispy_field}}</div> <div style="float: right; width:50%">{{form.Dest_Lcl_Thcunit|as_crispy_field}}</div></td>
                                                                <td>{{form.Dest_Lcl_Doc|as_crispy_field}}</td>
                                                                <td>{{form.Dest_Lcl_Hdc|as_crispy_field}}</td>
                                                                <td>{{form.Dest_Lcl_Clc|as_crispy_field}}</td>
                                                                <td><div style="float: left; width:45%;">{{form.Dest_Lcl_Whc|as_crispy_field}}</div> <div style="float: right; width:50%">{{form.Dest_Lcl_Whcunit|as_crispy_field}}</div></td>
                                                                </tr>
                                                        </tbody>

                                                        </table>

                                                        Other Charges : <td>{{form.Dest_Lcl_Otc|as_crispy_field}}</td>
                                                        Remark : <td>{{form.Dest_Lcl_Remark|as_crispy_field}}</td>
                                                        
                                                        <td>
                                                                


                                                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                                                                Submit</button>
                                                            <a href="{% url 'Dest_LCL_list' %}" class="btn btn-secondary btn-block btn-lg">
                                                                <i class="fas fa-stream"></i> Back to list
                                                            </a>
                                                        </td>
                                                </form>
                                                
                                                {%else%}
                                                
                                                <h1>로그인 해주세요</h1>
                                                {%endif%}
                                    </div>
                                </div>
                            </div>                           

                        </div>

                    
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include 'footer.html'%}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    {%include 'modal.html'%}

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <script src="https://kit.fontawesome.com/999e0851cc.js" crossorigin="anonymous"></script>

</body>

</html>